<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="dbConfig" value="DBMainInstance"/>
  </appSettings>
  <connectionStrings>
    <add name="DBMainInstance" connectionString="server=192.168.10.2;database=DZ;uid=sa;pwd=105310;"/>
  </connectionStrings>
</configuration>